#mainMenu {
  height: 100vh;
  padding: 20px;
  margin: 20px;
}
#menu-container {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 70px;
}

.manu {
  display: flex;
  flex-direction: column;
}
.menu a {
  color: black;
}
img {
  width: 600px;
  height: 350px;
}
