@media (max-width: 480px) {
  .delivery-pop-up,
  .delivery-change-popup {
    inset: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  #left-bar {
    width: 70%;
  }
  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .navLinksContainer {
    display: flex;
    flex-direction: row;
    width: 350px;
  }
  #arrowLaunch {
    width: 100%;
    margin: 5px 0;
  }
  #registerIn {
    width: 160px;
    height: 32px;
    font-size: 20px;
  }

  .navTitle {
    width: 100%;
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 34px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .homeAdress {
    display: flex;
    flex-direction: column;
  }
  #adressInput {
    width: 100%;
    height: 44px;
  }
  #searchButton {
    width: 100%;
    font-size: 20px;

    padding: 10px;
  }

  #menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
  }

  .menu {
    width: 100%;

    & img {
      width: 90%;
      height: auto;
    }

    & h2 {
      font-size: 20px;
    }
  }
  #cities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 10px 0;
  }
  .cities {
    width: 100%;
  }

  #footer-main {
    padding: 20px;
    justify-content: start;
  }

  #footer-container {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
  }

  #footer-title {
    margin-bottom: 30px;
    text-align: left;
    width: 100%;

    & img {
      margin: 15px 15px 15px 0;
      display: block;
    }
  }
  #link-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  #countries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .countries {
    width: 100%;
  }
  #map-header h1,
  #countries-header h1 {
    font-size: 26px;
  }

  .footer-links {
    width: 100%;
    margin: 15px 0;
    text-align: left;

    & a {
      display: block;
      padding: 10px 0;
    }
  }
  #footer-bottom {
    border-top: 1px solid gainsboro;
  }

  #footer-bottom-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;

    & div {
      margin: 10px 0;
    }
    & div a {
      display: block;
      padding: 8px 0;
    }
  }

  #icons {
    margin-bottom: 20px;

    & i {
      margin-right: 20px;
    }
  }
}
