* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 12px 20px;
  transition: background-color 0.3s ease-in-out;
  z-index: 4;
}
.navLinksContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
#arrowLaunch {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#logIn {
  height: 30px;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 5px 15px;
  margin-left: 15px;
  &:hover {
    background-color: lightgray;
  }
}
#registerIn {
  height: 30px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 5px 15px;
  margin-left: 15px;
}
#registerIn:hover {
  background-color: rgb(51, 49, 49);
}
.navTitle {
  display: flex;
  flex-direction: row;

  & button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    &:hover {
      cursor: pointer;
      scale: 1.05;
      transition: 0.3s;
    }
  }
}

#delivery-adress {
  display: none;
  transition: 0.3s;

  & button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
  }
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  z-index: 5;
}
#mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 238, 238);
  padding: 5px;
}
#mobile-button {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 20px;
  padding: 5px;
  background-color: gainsboro;
  border: none;
}
