.delivery-pop-up {
  position: fixed;
  display: none;
  inset: 40% auto auto 40%;
  width: 400px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  z-index: 6;

  & input {
    background: gainsboro;
    border-radius: 30px;
    height: 44px;
    width: 90%;
  }
}
.active {
  display: block;
}
#close-popup {
  float: right;
  background-color: transparent;
  font-size: 24px;
  border: none;

  &:hover {
    scale: 1.1;
    transition: 0.3s;
  }
}
.delivery-change-popup {
  position: fixed;
  display: none;
  top: 40%;
  left: 40%;
  width: 450px;
  height: 320px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  z-index: 6;
}
#close-delivery {
  float: right;
  background-color: transparent;
  border: none;
  font-size: 24px;
  scale: 1.1;
  cursor: pointer;
}
.delivery-change-popup select {
  width: 90%;
  height: 44px;
  margin: 10px;
  border-radius: 15px;
  background-color: gainsboro;

  &:focus {
    outline: none;
    border-bottom: 1px solid rgb(39, 133, 221);
    transition: 0.2s;
  }
}
#plan-button {
  width: 90%;
  height: 44px;
  margin: 7px;
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    background-color: rgb(70, 68, 68);
  }
}
#delivery-button {
  width: 90%;
  height: 44px;
  margin: 7px;
  font-size: 24px;
  background-color: white;
  color: black;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    background-color: rgb(189, 186, 186);
  }
}

#left-bar {
  position: fixed;
  display: block;
  left: -500px;
  height: 100vh;
  width: 20%;
  background-color: white;
  padding: 10px;
  transition: left 0.3s ease-in-out;
  z-index: 6;

  & button {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  & a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
#login-left-bar {
  margin-top: 10px;
  background-color: gainsboro;
}
#registerin-left-bar {
  background-color: black;
  color: white;
}
